<launch>

    <!-- arguments -->
    <arg name="mode"
         default="ids" />
    <arg name="name"
         default="elektron_ids"  />
    <arg name="config_file"
         default="$(find elektron_ids)/config/elektron_ids_example.yaml"  />
    <arg name="config_file_nodes"
         default="$(find elektron_ids)/config/example.yaml"  />

    <!-- parameters -->
    <rosparam file="$(arg config_file)" command="load" ns="$(arg name)" />
    <rosparam file="$(arg config_file_nodes)" command="load" ns="$(arg name)" />

    <!-- logger -->
    <node name="logger" pkg="logger" type="logger.py" />

    <!-- elektron_ids -->
    <node name="$(arg name)"
          pkg="elektron_ids"
          type="elektron_ids_node"
          output="screen"
          respawn="true" 
          args="$(arg mode) $(arg config_file_nodes)" />
</launch>